@import "./prism.css";
@import "../node_modules/bootstrap/scss/bootstrap.scss";

a {
    text-decoration: none;
}

.fullscreen {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
}
